[submodule "vala-checkers"]
	path = vala-checkers
	url = https://gitlab.gnome.org/Rirusha/vala-checkers.git
[submodule "build-aux/flatpak/stable"]
	path = build-aux/flatpak/stable
	url = https://github.com/flathub/space.rirusha.Cassette.git
