[submodule "build-aux/flatpak/stable"]
	path = build-aux/flatpak/stable
	url = git@github.com:flathub/space.rirusha.Cassette.git
[submodule "vala-checkers"]
	path = vala-checkers
	url = git@ssh.gitlab.gnome.org:Rirusha/vala-checkers.git
