# build dir
builddir*

# Workspaces
*.code-workspace

# Personal scripts
my.*

# Poedit db
*.mo

# flatpak
.flatpak-builder
build-dir
repo
.flatpak

_build

# deploy
cassette.flatpak
build-aux/flatpak/flatpak-github-action-modified-io.github.Rirusha.Cassette.Devel.json
