:root {
  --plus-gradient: linear-gradient(90deg,#ff5c4d,#eb469f 30%,#8341ef 75%,#3f68f9);
}

accountbutton {
  color: white;
  background-image: var(--plus-gradient);
  transition: 200ms;
  border-radius: 999999px;
}

accountbutton > button > widget {
  margin: 3px;
  background-color: var(--window-bg-color);
  border-radius: 999999px;
}

accountbutton:hover {
  background: var(--accent-bg-color);
}

.cassette-circular {
  border-radius: 999999px;
}

accountinfodialog > widget > bottom-sheet > sheet > stack > widget > widget > box > toolbarview,
accountinfodialog > widget > floating-sheet > sheet > widget > box > toolbarview {
  border: none;
  border-radius: 18px;
  color: white;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--plus-gradient);
}

accountinfodialog > widget > bottom-sheet > sheet > stack > widget > widget > box > list {
  margin-top: 12px;
  margin-bottom: 24px;
  margin-left: 12px;
  margin-right: 12px;
}

accountinfodialog > widget > floating-sheet > sheet > widget > box > list {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
