<<<<<<< HEAD
<<<<<<< HEAD
name: CI Light & Deploy
=======
name: CI
>>>>>>> 1685256 (Изменить файлы workflow)
=======
name: CI Light & Deploy
>>>>>>> c45a078 (Изменить имя у workflow)

on:
  push:
    branches:
      - 'dev-**'  # Запускать workflow только для веток разработки

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
    - uses: actions/checkout@v4
    - name: Lint
<<<<<<< HEAD
<<<<<<< HEAD
      run: io.elementary.vala-lint -d . 
=======
      run: io.elementary.vala-lint -d .

  test-build:
    name: Test Build
    runs-on: ubuntu-latest
    needs: lint

    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-nightly
      options: --privileged

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Run tests and lint
      uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: cassette.flatpak
        manifest-path: build-aux/flatpak/io.github.Rirusha.Cassette-Devel.json
        # run-tests: true
        cache-key: flatpak-builder-${{ github.sha }}    
>>>>>>> 1685256 (Изменить файлы workflow)
=======
      run: io.elementary.vala-lint -d . 
>>>>>>> 7e5777d (Удалить ненужный build)
  
  flatter:
    name: Flatter
    runs-on: ubuntu-latest
<<<<<<< HEAD
<<<<<<< HEAD
    needs: lint
=======
    needs: test-build
>>>>>>> 1685256 (Изменить файлы workflow)
=======
    needs: lint
>>>>>>> 7e5777d (Удалить ненужный build)

    container:
      image: ghcr.io/andyholmes/flatter/gnome:master
      options: --privileged

    strategy:
      matrix:
        arch: [x86_64, aarch64]
      fail-fast: false
      max-parallel: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup QEMU
        if: ${{ matrix.arch == 'aarch64' }}
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Setup GPG
        id: gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Build 
        uses: andyholmes/flatter@main
        with:
          files: |
            build-aux/flatpak/io.github.Rirusha.Cassette-Devel.json
          arch: ${{ matrix.arch }}
          gpg-sign: ${{ steps.gpg.outputs.fingerprint }}
          upload-bundles: true
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
          # run-tests: true
=======
          run-tests: true
>>>>>>> 1685256 (Изменить файлы workflow)
=======
>>>>>>> a2844d5 (Исправить CI)
=======
          # run-tests: true
>>>>>>> 7e5777d (Удалить ненужный build)
          upload-pages-artifact: ${{ matrix.arch == 'aarch64' }}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: flatter

    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
