name: CI

on:
  push:
    branches:
      - 'dev-*'  # Запускать workflow только для веток разработки

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
    - uses: actions/checkout@v4
    - name: Lint
      run: io.elementary.vala-lint -d .

<<<<<<< HEAD:.github/workflows/deploy.yml
      - name: Checkout all
        run: |
          remote_branches=$(git branch -r | grep -v '\->' | awk -F'/' '{print $2}')
          for branch in $remote_branches; do git checkout -B $branch origin/$branch; done
          git checkout devel-slice

      - name: Rebase & Push
        # Должна существовать только одна ветка dev-*
        run: |
          git branch --list | grep "dev-" | while read -r branch; do git rebase --reapply-cherry-picks --strategy=ours "$branch"; done
    
      - name: Push
        run: |
          git push --force origin devel-slice
      
=======
  test-build:
    name: Build
    runs-on: ubuntu-latest
    needs: lint

    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-nightly
      options: --privileged

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
>>>>>>> 1926849 (Изменить workflow):.github/workflows/CI-dev.yaml

    - name: Run tests and lint
      uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: cassette.flatpak
        manifest-path: build-aux/flatpak/io.github.Rirusha.Cassette.Devel.json
        run-tests: true
        cache-key: flatpak-builder-${{ github.sha }}    
  
  flatter:
    name: Flatter
    runs-on: ubuntu-latest
    needs: test-build

    container:
      image: ghcr.io/andyholmes/flatter/gnome:master
      options: --privileged

    strategy:
      matrix:
        arch: [x86_64, aarch64]
      fail-fast: false
      max-parallel: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup QEMU
        if: ${{ matrix.arch == 'aarch64' }}
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Setup GPG
        id: gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Build 
        uses: andyholmes/flatter@main
        with:
          files: |
            build-aux/flatpak/io.github.Rirusha.Cassette-Devel.json
          arch: ${{ matrix.arch }}
          gpg-sign: ${{ steps.gpg.outputs.fingerprint }}
          upload-bundles: true
          run-tests: true
          upload-pages-artifact: ${{ matrix.arch == 'aarch64' }}
          upload-pages-includes: |
            default.css
            index.html
            repo

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: flatter

    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
